body{
  margin: 0;
  height: 100vh;                 /* ocupa toda la pantalla */
  display: flex;
  justify-content: center;       /* centra horizontal */
  align-items: center;           /* centra vertical */
  flex-direction: column;        /* coloca los elementos en columna */
  background-image: url(Sin\ título\ \(2\).png);
  background-repeat: no-repeat;
  background-size: cover;        /* ajusta la imagen al fondo */
}

.Titulo {
  text-align: center;
  font-size: 30px;
  color: rgb(255, 0, 0);
   margin-top: 80px;
}

.titulo1 {
background: none;
}

.titulo1 h1 {
  font-size: 50px;
  margin-bottom: 10px;
  color: rgb(0, 0, 0);

}
.titulo1 img {
  position: relative;
   top: -50px;
}

.my-button {
    background: turquoise;   
    border: 2px solid black;    
    padding: 5px 15px;   
    cursor: pointer;    
    text-align: center;
    font-size: 18px;      
    border-radius: 10px;
    transition: all 0.3s ease;  
      position: relative;
   top: 150px;
    
}
